<div align="center" class="titulo">
  <h1>ADIVINA EL DIBUJO</h1><br><br>
</div>
<div align="center" class="titulo">
<!--
  <h4>El objetivo del juego es poder adivinar la imagen <br>
  Para ello tienes como máximo tres intentos! Que te diviertas!
</h4>
-->
</div>

<div class="container contenedor" align="center">
    
<h3>¿ Que dibujo soy? </h3>
<img src="{{miJuego.dibujoAJugar}}" border="1" width="250px" height="100px" ><br>

<input type="text" name="palabraDelUsuario" [(ngModel)]="miJuego.palabraDelUsuario"><br><br>

<input type="button" name= "Jugar" class="button blue morph" (click)="jugar()" value="JUGAR" style='width:250px; height:100px'><br><br>
<div class="col-md-2"></div>
<div class="col-md-4">
  <input type="button" name= "Verificar" class="button orange morph" (click)="verificar(miJuego.palabraDelUsuario)" value="VERIFICAR" style='width:250px; height:100px'><br><br>
</div>



<div class="col-md-4">
  <input type="button" name= "Rendicion" class="button green morph" (click)="rendirse()" value="ME RINDO" style='width:250px; height:100px'><br><br>
</div>
<div class="col-md-2"></div>

  <div class="contador">
    <h3>CONTADOR: {{miJuego.contador}}</h3>
  </div>
</div>


<div class="gano">
<h3>{{miJuego.resultado}}</h3>
</div>