.resaltar:hover{
    background-color: rgb(250, 3, 126);    
}
.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.parallax { 
    /* The image used */
    /*background-image: url("/assets/1.jpg");*/

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    font-family: 'Indie Flower', cursive;
    text-align: left;    
    color: #09f815;
    }