<app-cabecera>  </app-cabecera>
<div class="parallax" >
    <div class="hero-text">
  <mat-card>
    <mat-list>
        <h2 mat-subheader>Menu Principal</h2>
        <mat-divider></mat-divider>
        <h2 mat-subheader>Juegos</h2>
        <mat-list-item class="resaltar" routerLink="/Juegos">
          <img mat-list-icon src="./assets/imagenes/saladejuegos.png"/>          
          <p mat-line> El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego. </p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h2 mat-subheader>Lista de Resultados</h2>
        <mat-list-item class="resaltar" routerLink="/Listado">
          <img mat-list-icon src="./assets/imagenes/listado.jpg"/>          
          <p mat-line>Los listados de los resultados con ordenamiento y busqueda </p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h2 mat-subheader>Configuraci&oacute;n</h2>
        <mat-list-item class="resaltar" routerLink="/Juegos">
          <img mat-list-icon src="./assets/imagenes/Configuracion.png"/>          
          <p mat-line>Ajustes de la aplicacion y los métodos de autentificación </p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h2 mat-subheader>Jugadores</h2>
        <mat-list-item class="resaltar" routerLink="/Jugadores">
          <img mat-list-icon src="./assets/imagenes/jugadores.png"/>          
          <p mat-line>Listado de jugadores </p>
        </mat-list-item>
      </mat-list>
  </mat-card>  
    </div>
</div> 