<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<!--
<form name="juego">
<ul>
   <li>
   Primer número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
  
  </li>
  <li>
   Operador: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
   Segundo número: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" readonly/>
    
  </li>
  <li>
    Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/>
     
   </li>
  <li>
    <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2>
  </li>
  <li>
    <h2 [hidden]="!ocultarVerificar"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
  </li>
  <li>
    <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>

    <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
    <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
  </li>
</ul>

</form>
-->

<div align="center">
  <div class="titulo">
    <h1>AGILIDAD ARITMETICA</h1>
  </div>
  <br>
  <div align="center" class="titulo">
    <h4>Para completar este juego, debes resolver 3 cuentas matematicas, de las cuales, para que el resultado
      <br> sea positivo, debes acertar minimamente 2. ¡Que te diviertas!
    </h4>
  </div>
  <br>
  <br>
  <br>

  <input type="text" value="{{unJuego.numero1}}" name="num1">

  <input type="text" value="{{unJuego.operadorCaracter}}" name="signo">

  <input type="text" value="{{unJuego.numero2}}" name="num2">
  <br>
  <br>
  <br>

  <input type="text" placeholder="Escribe la respuesta" [(ngModel)]="unJuego.numeroIngresado" name="numeroIngresado" [ngModelOptions]="{standalone: true}"
    required>
  <br>
  <br>
  <br>

  <input type="button" class="btn btn-primary" value="SIGUIENTE" name="siguiente" (click)="unJuego.Siguiente()">
  <br>
  <br>

  <h3>Ronda Numero: {{unJuego.ronda}}</h3>

  <div *ngIf="unJuego.contador==3">
    <input type="button" class="btn btn-warning" value="VERIFICAR" name="verificar" (click)="verificar()">
    <br>
    <br>
  </div>

</div>